<link rel="stylesheet" href="../stylesheets/layout_index.css" type="text/css">
<img border="0" height="40" src="../images/index_23.jpg" style="float: left;" usemap="#Mapa3" width="990">
<map name="Mapa3">
  <area coords="238,17,296,37" href="/products_list_cj/&amp;pmcId=41d63430-369e-4c0e-a1a8-ed6b1f3aecf9&amp;comp_stats=comp-FrontProductsCategory_show01-cj.html" shape="rect">
  <area coords="541,19,603,38" href="/products_list_cj/&amp;pmcId=2f3877e1-b067-4192-8dc4-f531d77d8e2c&amp;comp_stats=comp-FrontProductsCategory_show01-cj.html" shape="rect">
  <area coords="842,18,904,38" href="/products_list_cj/&amp;pmcId=dfde08bf-d465-44c5-baa2-3e2cbcaee0ea&amp;comp_stats=comp-FrontProductsCategory_show01-cj.html" shape="rect">
</map>
<div id="box_main_sub8">
  <div id="box_main_sub8_sub1">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-04" name="商品列表">
      <script type="text/javascript" src="/publicScripts/products/FrontProducts_list01.js"></script>
      <!-- 装饰器样式开始 -->

      <!-- 装饰器样式结束 -->
      <script type="text/javascript">
      </script>
    </div>
  </div>
  <div id="box_main_sub8_sub2">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-05" name="商品列表">
      <script type="text/javascript" src="/publicScripts/products/FrontProducts_list01.js"></script>
      <!-- 装饰器样式开始 -->

      <!-- 装饰器样式结束 -->
      <script type="text/javascript">
      </script>
    </div>
  </div>
  <div id="box_main_sub8_sub3">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-06" name="商品列表">
      <script type="text/javascript" src="/publicScripts/products/FrontProducts_list01.js"></script>
      <!-- 装饰器样式开始 -->

      <!-- 装饰器样式结束 -->
      <script type="text/javascript">
      </script>
    </div>
  </div>
  <div class="clearBoth"></div>
</div>
<!-- 第二 -->
<img border="0" height="40" src="../images/index_23.jpg" style="float: left;" usemap="#Mapa3" width="990">
<map name="Mapa3">
  <area coords="238,17,296,37" href="/products_list_cj/&amp;pmcId=41d63430-369e-4c0e-a1a8-ed6b1f3aecf9&amp;comp_stats=comp-FrontProductsCategory_show01-cj.html" shape="rect">
  <area coords="541,19,603,38" href="/products_list_cj/&amp;pmcId=2f3877e1-b067-4192-8dc4-f531d77d8e2c&amp;comp_stats=comp-FrontProductsCategory_show01-cj.html" shape="rect">
  <area coords="842,18,904,38" href="/products_list_cj/&amp;pmcId=dfde08bf-d465-44c5-baa2-3e2cbcaee0ea&amp;comp_stats=comp-FrontProductsCategory_show01-cj.html" shape="rect">
</map>
<div id="box_main_sub8">
  <div id="box_main_sub8_sub1">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-04" name="商品列表">
      <script type="text/javascript" src="/publicScripts/products/FrontProducts_list01.js"></script>
      <!-- 装饰器样式开始 -->

      <!-- 装饰器样式结束 -->
      <script type="text/javascript">
      </script>
    </div>
  </div>
  <div id="box_main_sub8_sub2">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-05" name="商品列表">
      <script type="text/javascript" src="/publicScripts/products/FrontProducts_list01.js"></script>
      <!-- 装饰器样式开始 -->

      <!-- 装饰器样式结束 -->
      <script type="text/javascript">
      </script>
    </div>
  </div>
  <div id="box_main_sub8_sub3">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-06" name="商品列表">
      <script type="text/javascript" src="/publicScripts/products/FrontProducts_list01.js"></script>
      <!-- 装饰器样式开始 -->

      <!-- 装饰器样式结束 -->
      <script type="text/javascript">
      </script>
    </div>
  </div>
  <div class="clearBoth"></div>
</div>